
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to right, #d8e0ff, #bacefc);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 400px;
    padding: 25px;
    border-radius: 25px;
    background: #ffffffaa;
    backdrop-filter: blur(6px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.search_box {
    display: flex;
    align-items: center;
    background: #d8dfff;
    padding: 8px;
    border-radius: 45px;
    border: 2px solid black;
    width: 100%;
    transition: 0.3s;
}

.search_box:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.search_box input {
    flex: 1;
    padding: 12px 15px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #d8dfff;
    border-radius: 45px;
}

.search_btn {
    background: linear-gradient(135deg, #00feba, #5b548a);
    border: none;
    padding: 10px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_btn img,
.search_btn i {
    width: 20px;
    height: 20px;
    background: none;
}

.cloudy_icon {
    width: 120px;
    display: block;
    margin: 20px auto 10px auto;
}

.city{
    font-size: 28px;
    font-weight: 600;
    color: #222;
    text-align: center;
}

.day{

    font-size: 20px;
    font-weight: 600;
    color: #ff0606;
    text-align: center;
    font-family:monospace
}

.temp {
    font-size: 40px;
    font-weight: 700;
    margin-top: 5px;
    text-align: center;
    color: #444;
}

.details {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    width: 100%;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
    min-width: 150px;
}

.col img {
    width: 55px;
    height: 55px;
    margin-right: 15px;
    margin-bottom: 0;
    background: none;
}

.detail-info {
    display: flex;
    flex-direction: column;
}

.humidity,
.wind {
    font-size: 22px;
    font-weight: 600;
    color: #333;
    line-height: 1.2;
    margin: 0;
}

.label {
    font-size: 14px;
    font-weight: 400;
    color: #666;
    line-height: 1;
}